{% extends 'base.html' %}

{% block head_js %}

<script src="https://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock head_js %}


{% block content %}

<div class="row row-title">
    <i class="fas fa-pen"></i>&nbsp; Draw some Digit
</div>
<div class="dashboard-cards">
    <div class="row row-cards">
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-4 col-md-4">
            <div class="card card-canvas">
                <button id="clear" class="btn btn-canvas">Clear Canvas</button>
                <div class="card-image">
                    <canvas id="canvas" height="300" width="280"></canvas>
                </div>
                <button id="predict" type="submit" class="btn-card"><span>Predict <i
                        class="far fa-arrow-alt-circle-right"></i></span>
                </button>

            </div>
        </div>
        <div class="col-sm-2 col-md-2"></div>
        <div class="col-sm-4 col-md-4">
            <div class="card card-prediction">
                <div class="card-content">
                    <span class="card-title">You Draw:</span>
                    <div class="loader"></div>
                    <h1 id="result"> ?</h1>


                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}

