behave==1.2.6
Click==7.0
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.3.2
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
h5py==2.8.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
numpy==1.14.5
Pillow==8.2.0
scipy==1.1.0
selenium==3.141.0
SQLAlchemy==1.2.16
tensorboard==1.10.0
tensorflow==1.10.0
Werkzeug==0.14.1
WTForms==2.2.1
